*{margin: 0px; padding: 0px;}
.header{background: #d1d5d5;}
.nav { background: #007f7f; }
.nav ul{ }
.nav ul li{ display: inline; margin: 0 5px; }
#login{margin: 0px auto; }
.form_view{ width: 300px; margin: 30px auto;}
#subHeader{}
h2{color: #007f7f;}
a:visited{color: white;}
.table td{ text-align:right;}
.table h4{text-decoration: underline; }
.table th{}
.main_content{margin: 10px;}
#tableDiv{background: #d1d5d5; width: 300px; margin: 20px;}
.label{}
.Locations td{}

